.about_section_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_content_container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 80%;
  margin-top: 6rem;
}

.about_content_container.reverse_desktop {
  flex-direction: row-reverse;
}

.image {
  max-width: 40rem;
}

.info {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

@media (max-width: 768px) {
  .about_content_container {
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    margin-top: 3rem;
  }

  .about_section_container > .about_content_container:first-of-type {
    flex-direction: column-reverse;
  }

  .about_content_container.reverse_desktop {
    flex-direction: column-reverse;
  }

  .image {
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
  }

  .info {
    max-width: 100%;
    align-items: flex-start;
    text-align: left;
  }
}
