.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
}
.card_container a {
  text-decoration: none;
  color: #962925;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  text-align: center;
}

.card_text p {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .contact_container {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 4rem;
  }

  .contact_text {
    width: 100%;
    text-align: center;
    padding: 3rem 1.5rem 2rem 1.5rem;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .contact_text h1 {
    font-size: 2rem;
  }

  .contact_text p {
    padding: 0;
  }

  .contact_card {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0;
  }
}
