.carrosel_container {
  max-width: 400px;
  margin: 0 auto;

  height: 400px;
}

.slide_item {
  width: 100%;
  height: 100%;
}

.slide_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* =======================================
   ESTILO LIMPO DOS BOTÕES DO REACT SLICK
   ======================================= */

/* Deixa os ícones visíveis e sem opacidade */
.slick-prev:before,
.slick-next:before {
  color: #000; /* preto ou escolha outra cor */
  opacity: 1 !important;
  font-size: 40px;
}

/* Botões simples, sem animação */
.slick-prev,
.slick-next {
  width: 32px;
  height: 32px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-radius: 50%;
}

/* Remove qualquer animação */
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
  transform: none !important;
}

/* Posição fora da imagem */
.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

/* Afasta os dots da imagem */
.slick-dots {
  bottom: -10px !important; /* afasta para baixo */
}

/* E garante um espaço abaixo do slider */
.slick-slider {
  padding-bottom: 40px; /* cria área para os dots */
}
