.contact_container {
  display: flex;
  width: 100vw;
  height: 30rem;
  margin-top: 8rem;
  background-color: #962925;
  color: white;
}

.contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}
.contact_text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.contact_text p {
  padding: 0 5rem;
  text-align: center;
}

.contact_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .contact_container {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    margin-top: 4rem;
  }

  .contact_text {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  .contact_text h1 {
    font-size: 2rem;
  }

  .contact_text p {
    padding: 0 1.5rem;
  }

  .contact_card {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
}
