.footer_container h1,
.footer_container h4,
.footer_container p {
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer_container a,
.footer_container p {
  font-size: 1.125rem;
}

.footer_container h4 {
  text-align: center;
  font-weight: 600;
  font-size: 1.625rem;
}

.footer_container {
  width: 100vw;
  height: 25rem;
  background-color: #2f2f2f;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.wrapper {
  display: flex;
  align-items: start;
  gap: 8rem;
}

.copyright_section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.copyright_section > h1 {
  text-align: center;
}

.nav_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer_links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.footer_contact_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_contact_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer_socialmedia_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.socialmedia_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .footer_container {
    height: auto;
    padding: 4rem 1rem;
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    width: 100%;
  }

  .copyright_section {
    gap: 2rem;
    text-align: center;
    order: 0;
  }

  .copyright_section > h1 {
    font-size: 2rem;
  }

  .nav_section {
    gap: 1rem;
    order: 1;
    width: 100%;
  }

  .footer_contact_section {
    order: 2;
    width: 100%;
  }

  .footer_contact_content,
  .footer_links {
    text-align: center;
  }

  .socialmedia_icons {
    width: 70%;
    gap: 1.5rem;
  }

  .copyright_section > h1 {
    font-weight: 500;
  }
}
