.loading {
  width: 100vw;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details_section {
  margin-top: 6rem;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details_content_container {
  margin-top: 6rem;
  padding: 2rem 4rem;
  width: 60%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  background: white;
  box-shadow: 0px 4px 12px rgba(2, 2, 2, 0.2);
  border-radius: 10px;
}

.main_details {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_details > p {
  margin: 0;
  font-size: 1.5rem;
}

.further_details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details_content_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.details_content_block > p {
  font-size: 1.125rem;
}

.button_div a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #962925;
  color: white;

  font-size: 1rem;
  width: 15.625rem;
  height: 3.75rem;

  transition: ease-in 0.1s;
}

.button_div a:hover {
  background-color: rgb(173, 50, 46);
}

.button_div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ===================================================== CSS DO CARROSEL */

.swiper_container {
  max-width: 500px;
  object-fit: cover;
}

.carrosel_wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carrosel_img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
}

/* deixar as setas brancas */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  stroke-width: 0.5px;
  stroke: black !important;
}

/* opcional: aumentar o tamanho */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px !important; /* opcional */
  font-weight: 900 !important; /* deixa a seta mais grossa */
  color: white !important;
}

/* opcional: sombra para destacar no fundo claro */
.swiper-button-next,
.swiper-button-prev {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
